---
import Title from "@components/ui/Title.astro";
import { ProjectLogic } from "@components/projects/ProjectLogic";
---

<section>
  <Title>Proyectos</Title>
  <ProjectLogic client:only="react" />
</section>
