---
import Title from "@components/ui/Title.astro";
import { ProjectLogic } from "@components/projects/ProjectLogic";
---

<section id="section-projects" class="scroll-mt-24">
  <Title>Proyectos</Title>
  <ProjectLogic client:only="react" />
</section>
