---
import { Github, LinkedIn } from "@components/icons";
import { Image } from "astro:assets";
import fotoAcuache from "../../assets/Acuache.png";
import SkillsMarquee from "@components/hero/SkillsMarquee.astro";
---

<section
  class="flex flex-col gap-2 sm:flex-row sm:items-center mt-20 scroll-mt-24"
  id="section-hero"
>
  <div class="flex flex-col gap-2 sm:basis-1/5 md:basis-1/2">
    <h1 class="text-5xl text-st xs:text-6xl x white lg:text-7xl">
      MICHAEL <br /> ACUACHE
    </h1>
    <span class="text-xl xs:text-2xl">Desarrollador Web</span>
    <p class="text-sm text-balance xs:text-base">
      El código es mi herramienta, la experiencia del usuario mi objetivo.
      Diseño y desarrollo experiencias digitales que conectan personas, marcas y
      tecnología de forma simple, útil y atractiva.
    </p>
    <div class="flex gap-4 items-center">
      <a
        aria-label="Ir al Github de Michael Acuache"
        href="https://github.com/Acuache"
        class="relative flex items-center justify-center rounded-2xl border border-white/20 bg-white/5 p-2 transition-all duration-300 hover:border-st/80 hover:bg-white/10 hover:shadow-[0_0_20px_rgba(0,255,153,0.35)]"
      >
        <Github
          class="relative size-6 transition-transform duration-300 group-hover:scale-110"
        />
      </a>
      <a
        aria-label="Ir al LinkedIn de Michael Acuache"
        href="https://www.linkedin.com/in/acuache/"
        class="relative flex items-center justify-center rounded-2xl border border-white/20 bg-white/5 p-2 transition-all duration-300 hover:border-st/80 hover:bg-white/10 hover:shadow-[0_0_20px_rgba(0,255,153,0.35)]"
      >
        <LinkedIn class="size-6" />
      </a>
      <a
        href="https://drive.google.com/file/d/13Ix9Sq3Lpjg3x39kyVGp27Zx2Dy1Zjxh/view?usp=drive_link"
        target="_blank"
        class="border border-white/30 py-2 px-3 rounded-xl duration-300 hover:bg-st/40 hover:text-white hover:font-bold hover:shadow-[0_0_20px_rgba(0,255,153,0.35)]"
      >
        Descargar CV</a
      >
    </div>
  </div>
  <div class="max-w-85 mx-auto sm:basis-4/5 md:max-w-100 md:basis-1/2">
    <Image
      src={fotoAcuache}
      alt="Foto de perfil Michael Acuache"
      layout="constrained"
      class="inset-shadow-2xl inset-shadow-red-700"
    />
  </div>
</section>
<SkillsMarquee />
